MONGODB_URI=mongodb://localhost:27017
DB_NAME=ai_intelligence_risk_advisor
HF_TOKEN=       # hf_token
GOOGLE_API_KEY= # google gemini api key 
NVIDIA_API_KEY= # nvidia api key
DOCLING_SERVE_ALLOW_EXTERNAL_PLUGINS=true
TORCH_COMPILE_DISABLE=1
TORCHINDUCTOR_DISABLE=1
LLM_MODEL=gemini-3.5-flash-lite 
QDRANT_URL=http://localhost:6333